body {
  font-family: "Montserrat";
  font-style: normal;
  margin: 0;
}

button {
  cursor: pointer;
}

h2,
h3,
h4,
p,
hr,
ul {
  margin: 0;
}

.mobile-version {
  display: none;
}

.desctop-version {
  display: block;
}

.about-us {
  background-color: #0F0F10;
}
.about-us__wrap {
  width: 75%;
  margin: auto;
  padding: 0 0 95px 0;
}
.about-us .text-head {
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about-us__head.text-head.text-yellow {
  padding: 122px 0 0 0;
  margin: 0 224px 0 0;
  color: #FAFF00;
  text-align: center;
}
.about-us__head.about-us__head_white.text-head {
  margin: -24px 0 0 137px;
  text-align: center;
}
.about-us__wrap-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 84px 0 0 0;
}
.about-us__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about-us__col img {
  width: 100%;
}
.about-us__title {
  margin: 132px 0 0 0;
}
.about-us__line {
  margin: 0 0 44px 0;
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
}
.about-us__content {
  width: 480px;
}
.about-us__label {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFF00), to(#E9EE00));
  background: linear-gradient(180deg, #FAFF00 0%, #E9EE00 100%);
  -webkit-box-shadow: 0px 4px 40px rgba(249, 255, 5, 0.3);
          box-shadow: 0px 4px 40px rgba(249, 255, 5, 0.3);
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  padding: 20px 73px;
  max-width: 598px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -200px auto 0 auto;
}
.about-us__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #060606;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  margin: 0 0 12px 0;
}
.about-us__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #060606;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.text-yellow {
  color: #FAFF00 !important;
}

.text-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.text-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #DCDBDB;
}

.text-bold {
  font-weight: 600;
}

.number-one {
  background-color: #FFF;
}
.number-one__wrap {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.number-one__col {
  width: 50%;
}
.number-one__col:last-child {
  max-width: 710px;
}
.number-one__head {
  font-weight: 600;
  font-size: 200px;
  line-height: 244px;
  color: #000000;
  text-align: end;
  margin: 218px 30% 0 0;
}
.number-one__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow: hidden;
}
.number-one__title {
  margin: 175px 0 0 0;
}
.number-one__line {
  margin: 0 0 37px 0;
  height: 0;
  border: none;
  border-top: 1px solid #080808;
}
.number-one__desctiption {
  max-width: 480px;
  color: #080808;
  margin: 0 0 175px 0;
}

.next {
  background-color: #0f0f10;
}
.next__head {
  margin: 191px 0 0 0;
}
.next__line {
  margin: 0 0 37px 0;
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  width: 710px;
}
.next__content {
  max-width: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.next__description {
  width: 480px;
  margin: 0 0 138px 0;
}
.next__col-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.next__col {
  width: 31%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.next__block_yellow {
  width: 80%;
  min-height: 20px;
  background-color: #E9EE00;
  padding: 43px 0;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  border-radius: 30px;
  margin: 0 0 74px 0;
}
.next__block_white {
  background-color: #FFF;
  min-height: 20px;
  width: 120%;
  margin-left: -10%;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  border-radius: 30px;
}
.next__content_block {
  padding: 70px 70px 74px 70px;
}
.next__year {
  margin: 0 0 28px 0;
}
.next .text-description {
  color: #060606;
}

.today {
  background-color: #0f0f10;
}
.today__head {
  padding: 138px 0 0 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 28px 0;
}
.today__description {
  font-weight: 600;
  font-size: 33px;
  line-height: 43px;
  text-transform: uppercase;
  color: #D8D8D8;
  text-align: center;
  margin: 0 0 171px 0;
}
.today__col-wrap_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 0 0 214px 0;
}
.today__col-wrap_numbers .today__text {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
}
.today__block_yellow {
  width: 80%;
  min-height: 20px;
  background-color: #E9EE00;
  padding: 43px 0;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  border-radius: 30px;
  margin: 0 0 74px 0;
}
.today__block_white {
  background-color: #FFF;
  min-height: 20px;
  width: 120%;
  margin-left: -10%;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  border-radius: 30px;
}
.today .text-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 41px;
  color: #060606;
}
.today__col-wrap_blocks {
  width: 75%;
  margin: auto;
}
.today__content {
  padding: 92px 50px 85px 50px;
}
.today__title {
  text-align: center;
}
.today__col-wrap_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 271px 0;
}
.today__col {
  width: 48%;
}
.today li.text-description {
  margin: 0 0 10px 0;
}
.today li.text-description:last-child {
  margin: 0;
}
.today__title {
  margin: 0 0 24px 0;
}
.today ul {
  margin: 0 0 53px 0;
}
.today__btn {
  padding: 20px 55px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #060606;
  background: #FAFF05;
  border: 2px solid rgba(250, 255, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  width: 70%;
}

.comand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0F0F10;
}
.comand__line {
  margin: 0 0 37px 0;
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  width: 710px;
}
.comand__content {
  max-width: 710px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.comand__col-wrap {
  background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/80-90background.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  margin: auto;
  margin-bottom: 274px;
}
.comand__col {
  width: 40%;
}
.comand__text {
  width: 422px;
  margin: 105px 0 0 0;
}
.comand img {
  margin: 203px 0 0 0;
  width: 100%;
}
.comand__col:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text-contour {
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  color: #fff;
}

.name__head-content {
  max-width: 993px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #FFF;
}
.name__head {
  color: #080808;
  margin: 183px 0 0 0;
}
.name__line {
  width: 993px;
  height: 0;
  border: none;
  border-top: 1px solid #080808;
  margin: 16px 0 0 0;
}
.name__brand {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  color: #060606;
  margin: 55px 0 0 0;
}
.name__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 75%;
  margin: auto;
  margin-bottom: 210px;
}
.name__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #080808;
  margin: 0 0 0 30px;
}

.level {
  background-color: #0F0F10;
}
.level__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.level__line {
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  max-width: 710px;
  margin: 0 0 55px;
}
.level__head {
  max-width: 642px;
  padding: 179px 0 0 0;
}
.level__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.level img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 237px 0 0 0;
  width: 100%;
}
.level__content {
  max-width: 710px;
}
.level ul {
  margin: 0 0 61px 0;
}
.level .text-description {
  max-width: 555px;
}

.values {
  background-color: #0F0F10;
}
.values__head {
  padding: 195px 0 0 0;
  text-align: end;
}
.values__text-content {
  max-width: 710px;
  overflow: hidden;
}
.values__line {
  width: 710px;
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  margin: 0 0 110px 0;
}
.values__title {
  margin: 61px 0 61px 0;
}
.values__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.values ul {
  margin: 0 0 91px 0;
  max-width: 450px;
}
.values__wrap-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

.philosophy {
  background-color: #0F0F10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.philosophy__head {
  padding: 150px 0 0 0;
}
.philosophy__line {
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  width: 710px;
  margin: 0 0 155px 0;
}
.philosophy__text-content {
  width: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.philosophy__block {
  background: rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 85px 0 102px 102px;
  margin: 0 0 95px 0;
}
.philosophy__title {
  margin: 0 0 52px 0;
}
.philosophy__description {
  width: 680px;
}
.philosophy__wrap {
  width: 76%;
  margin: auto;
}
.philosophy .bgr-img_hands {
  background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/hands.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}
.philosophy .bgr-img_book {
  background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/book.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}
.philosophy .bgr-img_money {
  background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/money.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}

.learn {
  background-color: #0F0F10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.learn__wrap {
  width: 75%;
  margin: auto;
  padding: 0 0 400px 0;
}
.learn__head {
  padding: 130px 0 0 0;
}
.learn__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 930px;
}
.learn__line {
  height: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
  width: 930px;
  margin: 0 0 52px 0;
}
.learn__description {
  margin: 0 0 150px 0;
  max-width: 678px;
}
.learn__text {
  width: 555px;
}
.learn__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.learn__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.learn img {
  margin: 0 0 56px 0;
  width: 100%;
}
.learn__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #060606;
  background: #FAFF00;
  border: 2px solid rgba(250, 255, 0, 0.8);
  border-radius: 30px;
  padding: 18px 50px;
}

@media (max-width: 1160px) {
  .about-us__label {
    margin: -150px auto 0 auto;
    padding: 20px 30px;
  }
  .about-us__wrap {
    padding: 0 0 45px 0;
    width: 95%;
  }

  .next__col-wrap {
    width: 95%;
  }
  .next__content_block {
    padding: 50px 50px 54px 50px;
  }
  .next__block_yellow {
    padding: 30px 0;
  }

  .today__block_yellow {
    margin: 0 0 74px 10%;
  }
  .today__col-wrap_blocks {
    width: 95%;
  }
  .today__col-wrap_numbers {
    width: 95%;
  }

  .comand__col-wrap {
    width: 95%;
  }

  .name__text-content {
    width: 95%;
  }

  .values__wrap-col {
    width: 95%;
  }

  .philosophy__wrap {
    width: 95%;
  }

  .learn__wrap {
    width: 95%;
  }
}
@media (max-width: 1020px) {
  .about-us__label {
    margin: -120px auto 0 auto;
  }
  .about-us__wrap {
    padding: 0 0 15px 0;
  }
}
@media (max-width: 930px) {
  .learn__line {
    width: 710px;
  }

  .text-title {
    font-size: 26px;
  }

  .text-description {
    word-wrap: break-word;
  }

  .next__content_block {
    padding: 30px 30px 34px 30px;
  }

  .today__col-wrap_numbers .today__text {
    font-size: 34px;
  }

  .today__content {
    padding: 72px 30px 65px 30px;
  }

  .today__btn {
    width: 100%;
  }

  .name__text {
    font-size: 31px;
  }

  .philosophy__description {
    width: 95%;
  }
}
@media (max-width: 791px) {
  .desctop-version {
    display: none;
  }

  .mobile-version {
    display: block;
  }

  .text-description {
    margin: 0 20px;
  }

  .about-us__line,
.learn__line,
.number-one__line,
.next__line,
.comand__line,
.name__line,
.level__line,
.values__line,
.philosophy__line,
.philosophy__line {
    width: 530px;
  }

  .about-us__wrap-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__wrap {
    padding: 0 0 415px 0;
    width: 100%;
  }
  .about-us__title {
    margin-right: 20px;
  }
  .about-us__label {
    margin: -430px auto 0 auto;
    padding: 10px 0;
  }
  .about-us__col {
    width: 100%;
  }
  .about-us__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about-us__col img {
    width: 71%;
    margin: auto;
  }
  .about-us__name {
    font-size: 22px;
  }
  .about-us__name {
    width: 300px;
    text-align: center;
  }
  .about-us__label {
    width: 80%;
  }

  .number-one__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .number-one__head {
    margin: 100px 0 0 0;
    text-align: center;
  }
  .number-one__title {
    margin: 75px 20px 0 0;
  }
  .number-one__col {
    width: 100%;
  }
  .number-one__desctiption {
    max-width: 100%;
  }
  .number-one__col:last-child {
    max-width: 100%;
  }
  .number-one__content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .next__content {
    max-width: 100%;
  }
  .next__head {
    margin-right: 20px;
  }
  .next__col-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .next__col {
    width: 95%;
  }

  .today__col-wrap_blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .today__col {
    width: 95%;
  }
  .today__col-wrap_numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .today__text {
    margin: 0 0 20px 0;
  }

  .comand__col-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comand__col {
    width: 95%;
  }
  .comand__text {
    width: auto;
  }
  .comand__col:last-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comand__col-wrap {
    background-image: none;
  }
  .comand__title {
    text-align: end;
    margin: 0 20px 0 0;
  }

  .name__head-content {
    max-width: 100%;
  }
  .name__text-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name__text-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name__text {
    text-align: center;
    margin: 40px 0 0 0;
  }

  .level__col:nth-last-child(2) {
    display: none;
  }
  .level__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .level__col {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .level__content {
    max-width: 100%;
  }
  .level__head {
    margin: 0 0 0 20px;
  }

  .values__head {
    text-align: start;
    margin: 0 0 0 20px;
  }
  .values__wrap-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .values__item {
    width: 100%;
  }
  .values ul {
    max-width: 100%;
  }

  .philosophy__text-content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .philosophy__head {
    margin: 0 20px 0 0;
  }

  .learn__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .learn__btn {
    margin: 56px 0;
  }
  .learn__wrap {
    padding: 0 0 100px 0;
  }
  .learn__text {
    width: 100%;
  }
  .learn__head.text-title.text-yellow {
    width: 90%;
    text-align: start;
    margin: 0 0 0 20px;
  }
}
@media (max-width: 530px) {
  .about-us__line,
.learn__line,
.number-one__line,
.next__line,
.comand__line,
.name__line,
.level__line,
.values__line,
.philosophy__line,
.philosophy__line {
    width: 100%;
  }

  .philosophy__block {
    padding: 50px 0 50px 20px;
  }

  button.learn__btn {
    padding: 18px 0;
    width: 300px;
  }

  .name__brand {
    font-size: 44px;
  }

  .text-title {
    font-size: 22px;
  }

  .learn__text {
    width: auto;
  }

  .about-us {
    background-color: #0F0F10;
    overflow: hidden;
  }
  .about-us__name {
    font-size: 19px;
  }
  .about-us__text {
    font-size: 14px;
  }
  .about-us .text-head {
    font-size: 36px;
  }
  .about-us__head.text-head.text-yellow {
    margin: 0 121px 0 0;
  }
  .about-us__head.about-us__head_white.text-head {
    margin: -24px 0 0 101px;
  }
}