body {
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0;
}

h2,
h3,
h4,
p,
hr {
    margin: 0;
}

.about-us {
    background-color: #0F0F10;
    &__wrap {
        width: 75%;
        margin: auto;
        padding: 0 0 95px 0;
    }
    .text-head {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__head.text-head.text-yellow {
        padding: 122px 0 0 0;
        margin: 0 224px 0 0;
        color: #FAFF00;
        text-align: center;
    }
    &__head.about-us__head_white.text-head {
        margin: -24px 0 0 137px;
        text-align: center;
    }
    &__wrap-col {
        display: flex;
        justify-content: space-between;
        margin: 84px 0 0 0;
    }
    &__col {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        img {
            width: 100%;
        }
    }
    &__title {
        margin: 132px 0 0 0;
    }
    &__line {
        margin: 0 0 44px 0;
        height: 1px;
        color: #D8D8D8;
    }
    &__content {
        width: 480px;
    }
    &__label {
        background: linear-gradient(180deg, #FAFF00 0%, #E9EE00 100%);
        box-shadow: 0px 4px 40px rgba(249, 255, 5, 0.3);
        transform: skewX(-20deg);
        padding: 20px 73px;
        max-width: 598px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // position: absolute;
        // z-index: 100;
        // bottom: 80px;
        // left: 50%;
        // transform: translate(-50%, 0) skewX(-20deg);
        margin: -200px auto 0 auto;
    }
    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: #060606;
        transform: skewX(20deg);
        margin: 0 0 12px 0;
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #060606;
        transform: skewX(20deg);
    }
}

.text-yellow {
    color: #FAFF00;
}

.text-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}

.text-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #DCDBDB;
}

.text-bold {
    font-weight: 600;
}

.number-one {
    background-color: #FFF;
    &__wrap {
        // width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        width: 50%;
    }
    &__col:last-child {
        max-width: 710px;
    }
    &__head {
        font-weight: 600;
        font-size: 200px;
        line-height: 244px;
        color: #000000;
        text-align: end;
        margin: 218px 30% 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    &__title {
        margin: 175px 0 0 0;
    }
    &__line {
        margin: 0 0 37px 0;
        height: 1px;
        color: #080808;
    }
    &__desctiption {
        width: 480px;
        color: #080808;
        margin: 0 0 175px 0;
    }
}

.next {
    background-color: rgba(15, 15, 16, 1);
    &__head {
        margin: 191px 0 0 0;
    }
    &__line {
        margin: 0 0 37px 0;
        height: 1px;
        color: #D8D8D8;
        width: 710px;
    }
    &__content {
        max-width: 710px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__description {
        width: 480px;
        margin: 0 0 138px 0;
    }
    &__col-wrap {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: auto;
        align-items: flex-start;
    }
    &__col {
        width: 31%;
        min-height: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__block_yellow {
        width: 80%;
        min-height: 20px;
        background-color: #E9EE00;
        padding: 43px 0;
        transform: skewY(-7deg);
        border-radius: 30px;
        margin: 0 0 74px 0;
    }
    &__block_white {
        background-color: #FFF;
        min-height: 20px;
        width: 120%;
        // height: 100%;
        margin-left: -10%;
        transform: skewY(7deg);
        border-radius: 30px;
    }
    &__content_block {
        padding: 70px 70px 74px 70px;
    }
    &__year {
        margin: 0 0 28px 0;
    }
    .text-description {
        color: #060606;
    }
}

.today {
    &__head {
        margin: 212px - 74px;
    }
}