body {
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0;
}

h2,
h3,
h4,
p,
hr,
ul {
    margin: 0;
}

.mobile-version {
    display: none;
}

.desctop-version {
    display: block;
}

.about-us {
    background-color: #0F0F10;
    &__wrap {
        width: 75%;
        margin: auto;
        padding: 0 0 95px 0;
    }
    .text-head {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__head.text-head.text-yellow {
        padding: 122px 0 0 0;
        margin: 0 224px 0 0;
        color: #FAFF00;
        text-align: center;
    }
    &__head.about-us__head_white.text-head {
        margin: -24px 0 0 137px;
        text-align: center;
    }
    &__wrap-col {
        display: flex;
        justify-content: space-between;
        margin: 84px 0 0 0;
    }
    &__col {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        img {
            width: 100%;
        }
    }
    &__title {
        margin: 132px 0 0 0;
    }
    &__line {
        margin: 0 0 44px 0;
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
    }
    &__content {
        width: 480px;
    }
    &__label {
        background: linear-gradient(180deg, #FAFF00 0%, #E9EE00 100%);
        box-shadow: 0px 4px 40px rgba(249, 255, 5, 0.3);
        transform: skewX(-20deg);
        padding: 20px 73px;
        max-width: 598px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -200px auto 0 auto;
    }
    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: #060606;
        transform: skewX(20deg);
        margin: 0 0 12px 0;
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #060606;
        transform: skewX(20deg);
    }
}

.text-yellow {
    color: #FAFF00!important;
}

.text-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}

.text-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #DCDBDB;
}

.text-bold {
    font-weight: 600;
}

.number-one {
    background-color: #FFF;
    &__wrap {
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        width: 50%;
    }
    &__col:last-child {
        max-width: 710px;
    }
    &__head {
        font-weight: 600;
        font-size: 200px;
        line-height: 244px;
        color: #000000;
        text-align: end;
        margin: 218px 30% 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        overflow: hidden;
    }
    &__title {
        margin: 175px 0 0 0;
    }
    &__line {
        margin: 0 0 37px 0;
        height: 0;
        border: none;
        border-top: 1px solid #080808;
    }
    &__desctiption {
        max-width: 480px;
        color: #080808;
        margin: 0 0 175px 0;
    }
}

.next {
    background-color: rgba(15, 15, 16, 1);
    &__head {
        margin: 191px 0 0 0;
    }
    &__line {
        margin: 0 0 37px 0;
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
        width: 710px;
    }
    &__content {
        max-width: 710px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__description {
        width: 480px;
        margin: 0 0 138px 0;
    }
    &__col-wrap {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: auto;
        align-items: flex-start;
    }
    &__col {
        width: 31%;
        min-height: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__block_yellow {
        width: 80%;
        min-height: 20px;
        background-color: #E9EE00;
        padding: 43px 0;
        transform: skewY(-7deg);
        border-radius: 30px;
        margin: 0 0 74px 0;
    }
    &__block_white {
        background-color: #FFF;
        min-height: 20px;
        width: 120%;
        margin-left: -10%;
        transform: skewY(7deg);
        border-radius: 30px;
    }
    &__content_block {
        padding: 70px 70px 74px 70px;
    }
    &__year {
        margin: 0 0 28px 0;
    }
    .text-description {
        color: #060606;
    }
}

.today {
    background-color: rgba(15, 15, 16, 1);
    &__head {
        padding: 212px - 74px 0 0 0;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        margin: 0 0 28px 0;
    }
    &__description {
        font-weight: 600;
        font-size: 33px;
        line-height: 43px;
        text-transform: uppercase;
        color: #D8D8D8;
        text-align: center;
        margin: 0 0 171px 0;
    }
    &__col-wrap_numbers {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: auto;
        padding: 0 0 214px 0;
        .today__text {
            font-weight: 700;
            font-size: 45px;
            line-height: 53px;
            text-align: center;
            text-transform: lowercase;
            color: #FFFFFF;
        }
    }
    &__block_yellow {
        width: 80%;
        min-height: 20px;
        background-color: #E9EE00;
        padding: 43px 0;
        transform: skewY(-7deg);
        border-radius: 30px;
        margin: 0 0 74px 0;
    }
    &__block_white {
        background-color: #FFF;
        min-height: 20px;
        width: 120%;
        margin-left: -10%;
        transform: skewY(7deg);
        border-radius: 30px;
    }
    .text-description {
        font-weight: 500;
        font-size: 24px;
        line-height: 41px;
        color: #060606;
    }
    &__col-wrap_blocks {
        width: 75%;
        margin: auto;
    }
    &__content {
        padding: 92px 50px 85px 50px;
    }
    &__title {
        text-align: center;
    }
    &__col-wrap_blocks {
        display: flex;
        justify-content: space-between;
        padding: 0 0 271px 0;
    }
    &__col {
        width: 48%;
    }
    li.text-description {
        margin: 0 0 10px 0;
    }
    li.text-description:last-child {
        margin: 0;
    }
    &__title {
        margin: 0 0 24px 0;
    }
    ul {
        margin: 0 0 53px 0;
    }
    &__btn {
        padding: 20px 55px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #060606;
        background: #FAFF05;
        border: 2px solid rgba(250, 255, 0, 0.8);
        box-sizing: border-box;
        border-radius: 30px;
        width: 70%;
    }
}

.comand {
    display: flex;
    flex-direction: column;
    background-color: #0F0F10;
    &__line {
        margin: 0 0 37px 0;
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
        width: 710px;
    }
    &__content {
        max-width: 710px;
        align-self: end;
    }
    &__col-wrap {
        background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/80-90background.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        width: 75%;
        margin: auto;
        margin-bottom: 274px;
    }
    &__col {
        width: 40%;
    }
    &__text {
        width: 422px;
        margin: 105px 0 0 0;
    }
    img {
        margin: 203px 0 0 0;
        width: 100%;
    }
    &__col:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.text-contour {
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    color: #fff;
}

.name {
    &__head-content {
        max-width: 993px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #FFF;
    }
    &__head {
        color: #080808;
        margin: 183px 0 0 0;
    }
    &__line {
        width: 993px;
        height: 0;
        border: none;
        border-top: 1px solid #080808;
        margin: 16px 0 0 0;
    }
    &__brand {
        font-weight: 500;
        font-size: 64px;
        line-height: 64px;
        text-transform: uppercase;
        color: #060606;
        margin: 55px 0 0 0;
    }
    &__text-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 75%;
        margin: auto;
        margin-bottom: 210px;
    }
    &__text {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;
        color: #080808;
        margin: 0 0 0 30px;
    }
}

.level {
    background-color: #0F0F10;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__line {
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
        max-width: 710px;
        margin: 0 0 55px;
    }
    &__head {
        max-width: 642px;
        padding: 179px 0 0 0;
    }
    &__col {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    img {
        display: flex;
        align-self: flex-end;
        margin: 237px 0 0 0;
        width: 100%;
    }
    &__content {
        max-width: 710px;
    }
    ul {
        margin: 0 0 61px 0;
    }
    .text-description {
        max-width: 555px;
    }
}

.values {
    background-color: #0F0F10;
    &__head {
        padding: 195px 0 0 0;
        text-align: end;
    }
    &__text-content {
        max-width: 710px;
        overflow: hidden;
    }
    &__line {
        width: 710px;
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
        margin: 0 0 110px 0;
    }
    &__title {
        margin: 61px 0 61px 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    ul {
        margin: 0 0 91px 0;
        max-width: 450px;
    }
    &__wrap-col {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        margin: auto;
    }
}

.philosophy {
    background-color: #0F0F10;
    display: flex;
    flex-direction: column;
    &__head {
        padding: 150px 0 0 0;
    }
    &__line {
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
        width: 710px;
        margin: 0 0 155px 0;
    }
    &__text-content {
        width: 710px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    &__block {
        background: rgba(255, 255, 255, 0.07);
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 85px 0 102px 102px;
        margin: 0 0 95px 0;
    }
    &__title {
        margin: 0 0 52px 0;
    }
    &__description {
        width: 680px;
    }
    &__wrap {
        width: 76%;
        margin: auto;
    }
    .bgr-img_hands {
        background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/hands.png);
        background-position: right;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .bgr-img_book {
        background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/book.png);
        background-position: right;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .bgr-img_money {
        background-image: url(https://eduexp.ru/wp-content/uploads/2022/03/money.png);
        background-position: right;
        background-size: auto;
        background-repeat: no-repeat;
    }
}

.learn {
    background-color: #0F0F10;
    display: flex;
    flex-direction: column;
    &__wrap {
        width: 75%;
        margin: auto;
        padding: 0 0 400px 0;
    }
    &__head {
        padding: 130px 0 0 0;
    }
    &__text-content {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        align-items: flex-end;
        max-width: 930px;
    }
    &__line {
        height: 0;
        border: none;
        border-top: 1px solid #D8D8D8;
        width: 930px;
        margin: 0 0 52px 0;
    }
    &__description {
        margin: 0 0 150px 0;
        max-width: 678px;
    }
    &__text {
        width: 555px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        margin: 0 0 56px 0;
        width: 100%;
    }
    &__btn {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #060606;
        background: #FAFF00;
        border: 2px solid rgba(250, 255, 0, 0.8);
        border-radius: 30px;
        padding: 18px 50px;
    }
}

@media(max-width: 1160px) {
    .about-us {
        &__label {
            margin: -150px auto 0 auto;
            padding: 20px 30px;
        }
        &__wrap {
            padding: 0 0 45px 0;
            width: 95%;
        }
    }
    .next {
        &__col-wrap {
            width: 95%;
        }
        &__content_block {
            padding: 50px 50px 54px 50px;
        }
        &__block_yellow {
            padding: 30px 0;
        }
    }
    .today {
        &__block_yellow {
            margin: 0 0 74px 10%;
        }
        &__col-wrap_blocks {
            width: 95%;
        }
        &__col-wrap_numbers {
            width: 95%;
        }
    }
    .comand {
        &__col-wrap {
            width: 95%;
        }
    }
    .name {
        &__text-content {
            width: 95%;
        }
    }
    .values__wrap-col {
        width: 95%;
    }
    .philosophy__wrap {
        width: 95%;
    }
    .learn__wrap {
        width: 95%;
    }
}

@media(max-width: 1020px) {
    .about-us {
        &__label {
            margin: -120px auto 0 auto;
        }
        &__wrap {
            padding: 0 0 15px 0;
        }
    }
}

@media(max-width: 930px) {
    .learn__line {
        width: 710px;
    }
    .text-title {
        font-size: 26px;
    }
    .text-description {
        word-wrap: break-word;
    }
    .next__content_block {
        padding: 30px 30px 34px 30px;
    }
    .today__col-wrap_numbers .today__text {
        font-size: 34px;
    }
    .today__content {
        padding: 72px 30px 65px 30px;
    }
    .today__btn {
        width: 100%;
    }
    .name__text {
        font-size: 31px;
    }
    .philosophy__description {
        width: 95%;
    }
}

@media(max-width: 791px) {
    .desctop-version {
        display: none;
    }
    .mobile-version {
        display: block;
    }
    .text-description {
        margin: 0 20px;
    }
    .about-us,
    .learn,
    .number-one,
    .next,
    .comand,
    .name,
    .level,
    .values,
    .philosophy,
    .philosophy {
        &__line {
            width: 530px;
        }
    }
    .about-us {
        &__wrap-col {
            flex-direction: column;
            align-items: center;
        }
        &__wrap {
            padding: 0 0 415px 0;
            width: 100%;
        }
        &__title {
            margin-right: 20px;
        }
        &__label {
            margin: -430px auto 0 auto;
            padding: 10px 0;
        }
        &__col {
            width: 100%;
        }
        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__col img {
            width: 71%;
            margin: auto;
        }
        &__name {
            font-size: 22px;
        }
        &__name {
            width: 300px;
            text-align: center;
        }
        &__label {
            width: 80%;
        }
    }
    .number-one {
        &__wrap {
            flex-direction: column;
            align-items: center;
        }
        &__head {
            margin: 100px 0 0 0;
            text-align: center;
        }
        &__title {
            margin: 75px 20px 0 0;
        }
        &__col {
            width: 100%;
        }
        &__desctiption {
            max-width: 100%;
        }
        &__col:last-child {
            max-width: 100%;
        }
        &__content {
            align-items: flex-end;
        }
    }
    .next {
        &__content {
            max-width: 100%;
        }
        &__head {
            margin-right: 20px;
        }
        &__col-wrap {
            flex-direction: column;
            align-items: center;
        }
        &__col {
            width: 95%;
        }
    }
    .today {
        &__col-wrap_blocks {
            flex-direction: column;
            align-items: center;
        }
        &__col {
            width: 95%;
        }
        &__col-wrap_numbers {
            flex-direction: column;
        }
        &__text {
            margin: 0 0 20px 0;
        }
    }
    .comand {
        &__col-wrap {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__col {
            width: 95%;
        }
        &__text {
            width: auto;
        }
        &__col:last-child {
            align-items: flex-start;
        }
        &__col-wrap {
            background-image: none;
        }
        &__title {
            text-align: end;
            margin: 0 20px 0 0;
        }
    }
    .name {
        &__head-content {
            max-width: 100%;
        }
        &__text-content {
            flex-direction: column;
        }
        &__text-content {
            align-items: center;
        }
        &__text {
            text-align: center;
            margin: 40px 0 0 0;
        }
    }
    .level {
        &__col:nth-last-child(2) {
            display: none;
        }
        &__wrap {
            justify-content: flex-start;
        }
        &__col {
            width: 100%;
            align-items: flex-start;
        }
        &__content {
            max-width: 100%;
        }
        &__head {
            margin: 0 0 0 20px;
        }
    }
    .values {
        &__head {
            text-align: start;
            margin: 0 0 0 20px;
        }
        &__wrap-col {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 100%;
        }
        ul {
            max-width: 100%;
        }
    }
    .philosophy {
        &__text-content {
            align-items: flex-end;
        }
        &__head {
            margin: 0 20px 0 0;
        }
    }
    .learn {
        &__block {
            flex-direction: column;
        }
        &__btn {
            margin: 56px 0;
        }
        &__wrap {
            padding: 0 0 100px 0;
        }
        &__text {
            width: 100%;
        }
        &__head.text-title.text-yellow {
            width: 90%;
            text-align: start;
            margin: 0 0 0 20px;
        }
    }
}

@media(max-width: 530px) {
    .about-us__line,
    .learn__line,
    .number-one__line,
    .next__line,
    .comand__line,
    .name__line,
    .level__line,
    .values__line,
    .philosophy__line,
    .philosophy__line {
        width: 100%;
    }
    .philosophy__block {
        padding: 50px 0 50px 20px;
    }
    button.learn__btn {
        padding: 18px 0;
        width: 300px;
    }
    .name__brand {
        font-size: 44px;
    }
    .text-title {
        font-size: 22px;
    }
    .learn__text {
        width: auto;
    }
    .about-us {
        background-color: #0F0F10;
        overflow: hidden;
        &__name {
            font-size: 19px;
        }
        &__text {
            font-size: 14px;
        }
        .text-head {
            font-size: 36px;
        }
        &__head.text-head.text-yellow {
            margin: 0 121px 0 0;
        }
        &__head.about-us__head_white.text-head {
            margin: -24px 0 0 101px;
        }
    }
}